@charset "UTF-8";
@font-face{

    font-family: 'FonteLogo';
    src: url("_fonts/bubblegum-sans-regular.otf")
}
body {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    p {
        text-align: justify;
        text-indent: 30px;
    }

header#cabecalho {

    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho img#icone {

    position: absolute;
    left: 1030px;
    top: 70px;
}

header#cabecalho h1{

    font-family:'FonteLogo', sans-serif;
    font-size: 30px;
    color: #606060;
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{

    font-family: arial, sans-serif;
    font-size: 15px;
    color: grey;
    padding: 0px;
    margin-top: 0px;
}

div#interface{

    width: 1300px;
    background-color: rgb(187, 187, 187);
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    padding: 11px;
}

    /*Formatação de imagens web*/

figure.foto-legenda {

    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {

    width: 100%;
    height: 100%;

}

figure.foto-legenda figcaption {

    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity .5s;
}

figure.foto-legenda:hover figcaption {

    opacity: 1;
   }

/*Formatção do menu*/

nav#menu{

    display: block;
}

nav#menu ul {

    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: 0px;
}
nav#menu li {

    display: inline-block;
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 2px;
    transition: background-color 0.7s;
}

nav#menu li:hover{

    background-color: rgb(139, 139, 139);
}

nav#menu h1 {

    display: none;
}

nav#menu a{

    color: black;
    text-decoration: none;
}

nav#menu a:hover{

    color: white;
}

aside#lateral{

    display: block;
	width: 400px;
	position: absolute;
	top: 200px;
	left:900px;
}


section#corpo{ 
    display: block;
    width: 800px;
    border-right: 1px solid #606060;
    padding-right: 15px;
}


footer#rodape {

    clear: both;
    border-top: 1px solid #606060;
  } 

  footer#rodape p {
    clear: both;
    text-align: center;
    padding-top: 10px;
    right: 100px;
  }

table#tabelaspec{

    border: 1px solid #606060;
    border-spacing: 0px;
    text-align: center;
}

table#tabelaspec td{

    border: 1px solid #606060;
    border-spacing: 220px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{

    padding: 20px;
}